/*
!/config
!/mods
!/kubejs
!/.gitignore

/config/fml.toml
/kubejs/probe
/mods/.connector

/config/fabric/indigo-renderer.properties
/config/roughlyenoughitems/pinyin_double.properties
/config/roughlyenoughitems/pinyin.properties
