* text=auto

# Only include the addons folder when downloading from github using the zip button.
/**        			export-ignore
/config				!export-ignore
/kubejs/**          !export-ignore
/defaultconfigs/**  !export-ignore
/manifest.json/** 	!export-ignore
/mods/** 			!export-ignore
/LICENSE.md			!export-ignore

# Explicit config ignores
/mods/.index				export-ignore
/mods/.connector			export-ignore
/mods/memoryleakfix*

/kubejs/probe				export-ignore

/config/fml.toml										export-ignore
/config/jei/world/local/*								export-ignore
/config/fabric/indigo-renderer.properties				export-ignore
/config/roughlyenoughitems/pinyin.properties			export-ignore
/config/roughlyenoughitems/pinyin_double.properties		export-ignore
/config/forge-client.toml								export-ignore
/config/trofers/general.json5							export-ignore
/config/roughlyenoughitems/config.json5					export-ignore
/config/ae2/common.json									export-ignore
/config/sidebar_buttons.json							export-ignore
/config/oculus.properties								export-ignore
/config/modernfix-mixins.properties						export-ignore
/config/immediatelyfast.json							export-ignore
/config/ftbbackups2.json								export-ignore
/config/spark/tmp										export-ignore
/config/roughlyenoughitems/hints.json					export-ignore
/config/voicechat/username-cache.json					export-ignore
/config/minihud/*										export-ignore
/config/embeddium-fingerprint.json						export-ignore
/config/chiselsandbits-client.toml						export-ignore
/config/chiselsandbits-common.toml						export-ignore
/config/defaultworldtype/world-presets.txt				export-ignore
/config/ae2/client.json									export-ignore
/config/jecalculation/record.json						export-ignore
/config/voicechat/voicechat-client.properties			export-ignore
/config/jade/sort-order.json							export-ignore
/config/jei*											export-ignore
/config/embeddium++.toml								export-ignore
/config/embeddium++.toml								export-ignore
/config/emi.css											export-ignore
/options.txt											export-ignore
/defaultconfigs/ftbultimine/ftbultimine-client.snbt		export-ignore
/defaultconfigs/ftbultimine/ftbultimine-server.snbt		export-ignore
