/*
!/config
!/mods
!/kubejs
!/defaultconfigs
!/resources
!/.gitignore
/mods/.index

/config/fml.toml
/kubejs/probe
/mods/.connector

/mods/memoryleakfix*

config/fabric/indigo-renderer.properties
config/roughlyenoughitems/pinyin.properties
config/roughlyenoughitems/pinyin_double.properties
config/forge-client.toml
config/trofers/general.json5
config/roughlyenoughitems/config.json5
config/ae2/common.json
config/sidebar_buttons.json
config/oculus.properties
config/modernfix-mixins.properties
config/immediatelyfast.json
config/ftbbackups2.json
config/spark/tmp
config/roughlyenoughitems/hints.json
config/voicechat/username-cache.json
config/minihud/*
config/embeddium-fingerprint.json
config/chiselsandbits-client.toml
config/chiselsandbits-common.toml